@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

:root {
  /* Font - 400, 700 */
  --font: "Karla", sans-serif;

  /* Primary Colors */
  --cyan: hsl(179, 62%, 43%);
  --light-cyan: hsl(179, 47%, 52%);
  --bright-yellow: hsl(71, 73%, 54%);
  --yellow: hsl(71, 62%, 42%);

  /* Neutral Colors */
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --white: hsl(0, 0%, 100%);
  --black-opaque: hsla(0, 0%, 0%, 0.2);
}

body {
  height: 100svh;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  width: 56rem;
  height: 38rem;
  box-shadow: 0 0.5rem 0.5rem 0 var(--black-opaque);
  border-radius: 0.8rem;
}

.attribution {
  margin-top: 3rem;
}

/* =========================== Top Card =========================== */

.join-card {
  background-color: var(--white);
  height: 17rem;
  padding: 3rem 6rem 3rem 3rem;
  border-radius: 0.8rem 0.8rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.join-card h1 {
  color: var(--cyan);
  font-size: 2.03rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.join-card h2 {
  font-size: 1.5rem;
  color: var(--bright-yellow);
}

.join-card p {
  color: var(--grayish-blue);
  font-size: 1.35rem;
  line-height: 2.5rem;
}

/* =========================== Bottom Cards =========================== */

.bottom-cards {
  display: flex;
}

/* =========================== Sub Card =========================== */

.sub-card {
  background-color: var(--cyan);
  width: 28rem;
  height: 21rem;
  padding: 3rem;
  border-radius: 0 0 0 0.8rem;
}

.sub-card h2 {
  color: var(--white);
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.6rem;
}

.sub-card span {
  font-size: 2.8rem;
  color: var(--white);
  font-weight: 700;
  margin-right: 1rem;
}

.sub-card .month {
  color: var(--light-gray);
  font-weight: 500;
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
}

.sub-card p {
  color: var(--white);
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 2.7rem;
}

.btn {
  border-style: none;
  width: 22rem;
  height: 4rem;
  color: var(--white);
  background-color: var(--bright-yellow);
  font-size: 1.4rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.5rem 0.5rem 0 var(--black-opaque);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--yellow);
  transform: translateY(-0.3rem);
}

/* =========================== Why Card =========================== */

.why-card {
  background-color: var(--light-cyan);
  width: 28rem;
  height: 21rem;
  padding: 3rem;
  border-radius: 0 0 0.8rem 0;
}

.why-card h2 {
  color: var(--white);
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
  color: var(--light-gray);
  line-height: 1.7rem;
}

/* =========================== Media Queries =========================== */

@media screen and (max-width: 768px) {
  body {
    height: 80rem;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22rem;
    height: 53rem;
    border-radius: 0.3rem;
  }

  /* =========================== Top Card =========================== */

  .join-card {
    width: 22rem;
    height: 18rem;
    padding: 1.5rem;
    border-radius: 0.3rem 0.3rem 0 0;
  }

  .join-card h1 {
    font-size: 1.5rem;
  }

  .join-card h2 {
    font-size: 1.2rem;
  }

  .join-card p {
    font-size: 1rem;
    line-height: 1.8rem;
  }

  /* =========================== Bottom Cards =========================== */

  .bottom-cards {
    flex-direction: column;
    align-items: center;
  }

  /* =========================== Sub Card =========================== */

  .sub-card {
    width: 22rem;
    height: 17rem;
    padding: 1.5rem;
    border-radius: 0;
  }

  .sub-card h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .sub-card span {
    font-size: 2rem;
  }

  .sub-card .month {
    font-size: 1rem;
  }

  .sub-card p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }

  .btn {
    width: 19rem;
  }

  /* =========================== Why Card =========================== */

  .why-card {
    width: 22rem;
    height: 18rem;
    padding: 1.5rem;
    border-radius: 0 0 0.3rem 0.3rem;
  }

  .why-card h2 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}
